@model LicenseManagementAppOskour.Models.Media

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>


@{
    string type = "EditBook";
    if (Model is LicenseManagementAppOskour.Models.Book)
    {
        type = "EditBook";
    }
    else if (Model is LicenseManagementAppOskour.Models.Film)
    {
        type = "EditFilm";
    }
    else if (Model is LicenseManagementAppOskour.Models.Music)
    {
        type = "EditMusic";
    }
    else if (Model is LicenseManagementAppOskour.Models.Game)
    {
        type = "EditGame";
    }
    using (Html.BeginForm(type, "Media"))
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <h4>Media</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.Id)

            <div class="form-group">
                @Html.Label("", "License", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownList("LicenseId", new SelectList((System.Collections.IEnumerable)ViewData["Licenses"], "Id", "Name",((LicenseManagementAppOskour.Models.License)ViewData["SelectedLicense"]).Id), htmlAttributes: new { @class = "form-control" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Ownership, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Ownership, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Ownership, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.ReleaseDate, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.ReleaseDate, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.ReleaseDate, "", new { @class = "text-danger" })
                </div>
            </div>

            <!-- Edit for all type of media -->
            @{
                if (Model is LicenseManagementAppOskour.Models.Book)
                {
                    Html.RenderPartial("EditBook");
                }
                else if (Model is LicenseManagementAppOskour.Models.Film)
                {
                    Html.RenderPartial("EditFilm");
                }
                else if (Model is LicenseManagementAppOskour.Models.Music)
                {
                    Html.RenderPartial("EditMusic");
                }
                else if (Model is LicenseManagementAppOskour.Models.Game)
                {
                    Html.RenderPartial("EditGame");
                }
            }

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Save" class="btn btn-default" />
                </div>
            </div>
        </div>
    }
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
